* {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
