.login {
    font-size: 2rem;
}

.loginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fakeButton {
    text-decoration: none;
    background-color: #4262FF;
    color: white;
    padding: 5px 10px;
    border-color: #4262FF;
    border-radius: 3px;
}
