.login {
    font-size: 2rem;
    padding: 10px;
    margin: 0;
}

.info {
    font-size: 1.2rem;
    padding: 5px;
    margin: 0;
}

.loginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formLink {
    display: flex;
    flex: 1;
    text-decoration: none;
    justify-content: center;
}

.container {
    width: 100%;
}
