.formLink {
    display: flex;
    flex: 1;
    text-decoration: none;
    justify-content: center;
}

.article {
    max-width: 80vw;
    padding: 30px 0 30px 0;
}

.newComment {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.newComment>textarea {
    height: 7rem;
    resize: vertical;
}
