.title {
    font-size: 2rem;
    padding: 10px;
    margin: 0;
}

.info {
    font-size: 1.2rem;
    padding: 5px;
    margin: 0;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
